@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{
    var site = Model.Root();
    var home = (Home)site;
    var selection = site.Children.Where(x => x.IsVisible());
    var tiktokLink = "https://www.tiktok.com/@ghiendalat_official";
}
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
<li class="nav-item @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")">
    <a class="nav-link" rel="tooltip" title="@site.Name" data-placement="bottom" href="@site.Url()">
        <span>@site.Name</span>
    </a>
</li>
@* *@
@* <li class="nav-item"> *@
@*     <a class="nav-link" rel="tooltip" title="Dịch Vụ" data-placement="bottom" href="/cong-dong/chi-tiet-cong-dong"> *@
@*         <span>Dịch Vụ</span> *@
@*     </a> *@
@* </li> *@
@* *@
@* <li class="nav-item"> *@
@*     <a class="nav-link" rel="tooltip" title="Booking" data-placement="bottom" href="/cong-dong/chi-tiet-cong-dong"> *@
@*         <span>Booking</span> *@
@*     </a> *@
@* </li> *@

@foreach (var item in selection)
{
    <li class="nav-item @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)">
        <a class="nav-link" rel="tooltip" title="@item.Name" data-placement="bottom" href="@item.Url()">
            <span>@item.Name</span>
        </a>
    </li>
}

<li class="nav-item">
    <a class="nav-link" rel="tooltip" title="Contact" data-placement="bottom" href="~/#contact">
        <span>Liên hệ</span>
    </a>
</li>
<li class="nav-item social-item-top row">
    <a class="nav-link social-item-top col-2" href="https://www.facebook.com/groups/956982674510656" target="_blank">
        <img src="~/css/imgs/facebook.png" alt="Facebook"  width="29px" />
    </a>
    <a class="nav-link social-item-top col-2" href="https://www.instagram.com/ghiendalat/" target="_blank">
        <img src="~/css/imgs/instagram.png" alt="Instagram" width="29px" />
    </a>
    <a class="nav-link social-item-top col-2" href="@tiktokLink" target="_blank">
        <img src="~/css/imgs/tiktok.png" alt="Tiktok" width="29px" />
    </a>
    <a class="nav-link social-item-top col-2" href="https://www.youtube.com/channel/UCk95u38DzdaZt45zsYHYc5w" target="_blank">
        <img src="~/css/imgs/youtube.png" alt="Youtube" />
    </a>
</li>
@* <li class="nav-item"> *@
@*     <a class="nav-link" href="#"> *@
@*         <img src="~/css/imgs/twitter.png" alt="Tiktok" /> *@
@*     </a> *@
@* </li> *@

<!--Social -->
@* <li class="nav-item"> *@
@*     <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://www.github.com/CreativeTimOfficial/paper-kit" target="_blank"> *@
@*         <i class="fa fa-github"></i> *@
@*         <p class="d-lg-none">GitHub</p> *@
@*     </a> *@
@* </li> *@