@inherits UmbracoViewPage<GroupCommunities>
@{
    Layout = "master.cshtml";
}

@* the fun starts here *@
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners-title">
                    <h2 class="section-title text-center">CÁC CỤM CỘNG ĐỒNG</h2>
                </div>
                @* <div class="group-first-header-line text-center"> *@
                @*     <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/images/imgs/line.png")" alt=""/> *@
                @* </div> *@
                <br/><br/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @{
                var home = (Home)Model.Root();
                var groupCate = home.Children().Where(_ => _.GetType() == typeof(GroupCommunities)).Cast<GroupCommunities>().FirstOrDefault();
                var groupCommunities = groupCate.Children().Where(_ => _.GetType() == typeof(GroupCommunity)).Cast<GroupCommunity>().OrderBy(x => x.SortOrder).ToList();

            }
            @if (groupCommunities.Any())
            {
                var groupDuration = 1000;
                foreach (var feature in groupCommunities)
                {
                    <div class="col-12 mt-10" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                         data-aos-duration="@groupDuration">
                        <a class="w-100" href="@feature.Url()">
                            <img class="w-100" src="@feature.GroupImage.MediaItem.MediaUrl(mode: UrlMode.Absolute)" alt="@feature.PageTitle">
                        </a>
                    </div>
                    groupDuration += 500;
                }
            }
        </div>
    </div>
</div>