@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ClientDependency.Core.Mvc
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var heroImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url() : string.Empty;
    string domainAddress = $"{Request.Url?.Scheme}://{Request.Url?.Authority}";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("~/scripts/jquery-3.2.1.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("~/scripts/jquery.unobtrusive-ajax.min.js");
}

@section HeaderMeta
{
    <meta property="og:url" content="@Model.Url()"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="@Model.Name - @Model.Sitename"/>
    <meta property="og:image" content="@($"{domainAddress}{Model.SiteLogo.Url()}")"/>
}

<div class="section home-header cd-intro">
    <img class="p-absolute img-1" src="@Url.Content("~/css/imgs/1.png")" alt=""/>
    <img class="p-absolute img-2" src="@Url.Content("~/css/imgs/2.png")" alt=""/>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30  cd-intro-content parallax">
                <div class="header-big-logo justify-content-center animation-slide-up">
                    @if (Model.HeroImage != null)
                    {
                        <img src="@Model.HeroImage.MediaItem.Url()" alt="sub logo">
                    }
                    else
                    {
                        <img src="@Url.Content("~/css/imgs/landing-logo.png")" alt="sub logo">
                    }
                </div>
                <div class="contact-button text-center">
                    <a class="btn btn-lg btn-success btn-outline-success cd-btn" href="#contact">@Model.HeroCtacaption</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="header-right-logo text-center animation-bounce animation-bounce-left">
                    @if (Model.AboutTopPicture != null)
                    {
                        <img src="@Model.AboutTopPicture.MediaItem.Url()" alt="">
                    }
                    else
                    {
                        <img src="@Url.Content("~/css/imgs/landing-text-logo.png")" alt="">
                    }
                </div>
                <div class="header-about-detail animation-bounce animation-bounce-left">
                    <div class="description">
                        @Html.Raw(Model.AboutDescription)
                    </div>
                    <div class="summaries text-center">
                        <div class="row">
                            @{
                                var headerDuration = 1000;
                                foreach (var item in Model.FeatureStats)
                                {
                                    <div class="col-md-@((int)12 / Model.FeatureStats.Count()) stats-item"  data-aos="flip-right" data-aos-duration="@headerDuration">
                                        <span class="stats-count">@item.StatsCount</span>
                                        <p class="stats-text">@item.Title</p>
                                    </div>
                                    headerDuration += 1000;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section First-->
<div class="section" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="container ps-relative">
        <div class="bubble b-1">
            <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt=""/>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="group-first-header">
                    <h2 class="section-title">@Model.WhatWeHaveTitle</h2>
                </div>
                <div class="group-first-header-line">
                    <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" alt=""/>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-md-6">
                <a href="@Model.VietNamOiActionUrl" target="_blank">
                    @if (Model.VietNamOiPicture != null)
                    {
                        <img class="w-100" src="@Model.VietNamOiPicture.MediaItem.Url()" alt=""/>
                    }
                    else
                    {
                        <img class="w-100" src="@Url.Content("~/css/imgs/detail-img-1.png")" alt=""/>
                    }
                </a>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="content-header">
                        @Model.VietNamOiCommunityTitle
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify">
                            <div class="fw-600 mb-10">~643.800 thành viên</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify mt-10">
                            @Html.Raw(Model.VietNamOiDescription)
                        </div>
                    </div>
                    <div class="row text-center justify-content-between mt-10">
                        <div class="col-6 summary-item">
                            <div class="fw-400">
                                <strong>Tốc độ tăng trưởng :</strong>
                            </div>
                            <div class="info">
                                <span class="num-layout fw-600">~7%</span><span> / tháng</span>
                            </div>
                        </div>
                        <div class="col-6 summary-item">
                            <div class="fw-400">
                                <strong>Tổng tương tác lên đến :</strong>
                            </div>
                            <div class="info"><span class="num-layout fw-600">~2.110.000</span> / tháng</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="p-absolute img-3" src="@Url.Content("~/css/imgs/3.png")" alt=""/>
</div>

<!--Section Second-->
<div class="section home-group-second" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="container ps-relative">
        @* <div class="bubble b-1"> *@
        @*     <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt=""/> *@
        @* </div> *@
        @* *@
        <div class="row mt-30">
            <div class="col-md-6">
                <div class="left-content">
                    <div class="content-header">
                        @Model.GhienDaLatTitle
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify">
                            <div class="fw-600 mb-10">~643.800 thành viên</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-justify mt-10">
                            @Html.Raw(Model.GhienDaLatDescription)
                        </div>
                    </div>
                    <div class="row text-center justify-content-between mt-10">
                        <div class="col-6 summary-item">
                            <div class="fw-400">
                                <strong>Tốc độ tăng trưởng :</strong>
                            </div>
                            <div class="info">
                                <span class="num-layout fw-600">~7%</span><span> / tháng</span>
                            </div>
                        </div>
                        <div class="col-6 summary-item">
                            <div class="fw-400">
                                <strong>Tổng tương tác lên đến :</strong>
                            </div>
                            <div class="info"><span class="num-layout fw-600">~2.110.000</span> / tháng</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a href="@Model.GhienDaLatActionUrl" target="_blank">
                    @if (Model.GhienDaLatPicture != null)
                    {
                        <img class="w-100" src="@Model.GhienDaLatPicture.MediaItem.Url()" alt=""/>
                    }
                    else
                    {
                        <img class="w-100" src="@Url.Content("~/css/imgs/detail-img-2.png")" alt=""/>
                    }
                </a>
            </div>
        </div>
    </div>
</div>

<!--Section All Groups-->
<div class="section all-fb-groups" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="groups-title">
                    <h2 class="section-title text-center">CÁC CỤM CỘNG ĐỒNG</h2>
                </div>
                <div class="group-first-header-line text-center">
                    <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"  data-aos="flip-left"
                                       data-aos-easing="ease-out-cubic"
                                       data-aos-duration="1000">
                <a href="/cong-dong">
                    <img class="w-100" src="~/css/imgs/community-1.png" alt="">
                </a>
            </div>
            <div class="col-md-4"  data-aos="flip-left"
                                       data-aos-easing="ease-out-cubic"
                                       data-aos-duration="2000">
                <a href="/cong-dong">
                    <img class="w-100" src="~/css/imgs/community-2.png" alt="">
                </a>
            </div>
            <div class="col-md-4"  data-aos="flip-left"
                                       data-aos-easing="ease-out-cubic"
                                       data-aos-duration="3000">
                <a href="/cong-dong">
                    <img class="w-100" src="~/css/imgs/community-3.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!--Section Services-->
<div class="section all-services" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners-title">
                    <h2 class="section-title text-center">@Model.ServiceHeader</h2>
                </div>
                <div class="group-first-header-line text-center">
                    <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid-80 mt-30">
        <div class="row justify-content-center">
            @{
                var durationService = 1000;
                var services = Model.FeatureServices.ToArray();
                foreach (var featureService in services)
                {
                    if (featureService.FeatureCoverImage != null)
                    {
                        <div class="col-md-3" data-aos="zoom-in" data-aos-duration="@durationService">
                            <div class="service-item">
                                <div class="sv-image text-center">
                                    <img src="@featureService.FeatureCoverImage.MediaItem.Url()" alt="@featureService.FeatureName">
                                </div>
                                <div class="text-center">
                                    <h5 class="service-item-title">@featureService.FeatureName</h5>
                                </div>
                                <div class="sv-text-block text-justify">
                                    @featureService.FeatureDetails
                                </div>
                            </div>
                        </div>
                    }
                    durationService += 500;
                }
            }
        </div>
    </div>
</div>
<!--Section Partner-->
<div class="section all-partners" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners-title">
                    <h2 class="section-title text-center">@Model.PartnerHeader</h2>
                </div>
                <div class="group-first-header-line text-center">
                    <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-center">
            @{
                var durationPartner = 1000;
                var partners = Model.FeaturePartners.ToArray();
                foreach (var partner in partners)
                {
                    if (partner.FeatureCoverImage != null)
                    {
                        <div class="col-md-3"  data-aos="zoom-out"  data-aos-duration="@durationPartner">
                            <div class="partner-item text-center">
                                <img src="@partner.FeatureCoverImage.MediaItem.Url()" alt="@partner.FeatureName">
                            </div>
                        </div>
                    }
                    durationPartner += 500;
                }
            }
        </div>
    </div>
</div>
<!--Section Contact-->
<div class="section landing-section section-contact" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto mb-20">
                <h2 class="section-title text-center">Keep in touch?</h2>
               
                @{ Html.RenderAction("RenderForm", "ContactSurface"); }
                <!-- contact-warning -->
                <div class="message-warning text-danger">
                    @Model.ContactFormWarningMessage
                </div>

                <!-- contact-success -->
                <div class="message-success text-success">
                    @Model.ContactFormSuccessMessage<br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <h4 class="info-title">@Model.ContactSubHeader</h4>

                    <div class="item-block">
                        <h5>@Model.ContactAddressTitle</h5>
                        @Model.ContactAddressDetail
                    </div>

                    <div class="item-block">
                        <h5>@Model.ContactEmailHeader</h5>
                        @Model.ContactEmailDetail
                    </div>

                    <div class="item-block">
                        <h5>@Model.ContactPhoneTitle</h5>
                        @Model.ContactPhoneDetail
                    </div>

                </div> <!-- end contact-info -->
            </div>
        </div>
    </div>
</div>