@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ClientDependency.Core.Mvc
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "master.cshtml";
    var heroImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url() : string.Empty;
    string domainAddress = $"{Request.Url?.Scheme}://{Request.Url?.Authority}";
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("~/scripts/jquery-3.2.1.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");
    Html.RequiresJs("~/scripts/jquery.unobtrusive-ajax.min.js");
    Html.RequiresJs("~/scripts/contactForm.js");
}
@section HeaderMeta
{
    <meta property="og:url" content="@Model.Url()" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Name - @Model.Sitename" />
    <meta property="og:image" content="@($"{domainAddress}{Model.SiteLogo.Url()}")" />
}

<div class="landing-page p-relative index-fade-in">
    <img class="p-absolute img-1" src="@Url.Content("~/css/imgs/1.png")" />
    <img class="p-absolute img-2" src="@Url.Content("~/css/imgs/2.png")" />
    <div class="page-content mx-layout mt-4rem">
        <div class="flex-layout">
            <div class="w-layout">
                <div class="text-center w-22rem mx-auto">
                    @if (Model.HeroImage != null)
                    {
                        <img class="w-100" src="@Model.HeroImage.MediaItem.Url()" alt="logo"> }
                    else
                    {
                        <img class="w-100" src="@Url.Content("~/css/imgs/landing-logo.gif")" alt="logo">}
                </div>
                <div class="text-center mt-3rem">
                    <a class="smoothscroll contact-btn f-1rem f-ssp " href="#contact">@Model.HeroCtacaption</a>
                </div>
            </div>
            <div class="w-layout d-flex landing-page-content">
                <div class="flex-center">
                    <div class="text-center w-20rem">

                        @if (Model.AboutTopPicture != null)
                        {
                            <img id="landing-text-logo" class="w-100" src="@Model.AboutTopPicture.MediaItem.Url()" alt="About top image"> }
                        else
                        {
                            <img id="landing-text-logo" class="w-100" src="@Url.Content("~/css/imgs/landing-text-logo.png")" alt="About top image">}
                    </div>
                    <div class="mt-layout">
                        <div class="w-lp-description">
                            @Html.Raw(Model.AboutDescription)
                        </div>
                        <div class="d-flex mt-1rem">
                            <div class="summaries d-flex">
                                @foreach (var item in Model.FeatureStats)
                                {
                                    <div class="mr-2rem summary-item">
                                        <span class="stats-count f-3rem">@item.StatsCount</span>
                                        <p class="info">@item.Title</p>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-12rem">
            <p class="f-rbt f-layout upper-case fw-500">@Model.WhatWeHaveTitle</p>
            <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" />
        </div>
    </div>
</div>

<div id="details-page" class="mx-layout">
    <div class="fade-in-anchor">
        <div class="flex-layout fade-in-content">
            <div class="w-layout d-flex p-relative">
                <div class="bubble b-1">
                    <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt="" />
                </div>
                <div class="mx-auto w-32rem">
                    <a href="@Model.VietNamOiActionUrl" target="_blank">
                    @if (Model.VietNamOiPicture != null)
                    {
                        <img class="w-100" src="@Model.VietNamOiPicture.MediaItem.Url()" alt="" /> }
                    else
                    {
                        <img class="w-100" src="@Url.Content("~/css/imgs/detail-img-1.png")" alt="" />}
                    </a>
                </div>
            </div>
            <div class="w-layout d-flex px-layout f-1rem">
                <div class="flex-center w-32rem">
                    <div class="f-pd fw-700 f-content-header">
                        @Model.VietNamOiCommunityTitle
                    </div>
                    @Html.Raw(Model.VietNamOiDescription)
                </div>
            </div>
        </div>
    </div>
    <div class="fade-in-anchor">
        <div class="flex-layout mt-8rem flex-direction-layout fade-in-content">
            <div class="w-layout d-flex px-layout f-1rem">
                <div class="flex-center w-32rem">
                    <div class="f-pd fw-700 f-content-header">
                        @Model.GhienDaLatTitle
                    </div>
                    @Html.Raw(Model.GhienDaLatDescription)
                </div>
            </div>
            <div class="w-layout d-flex p-relative">
                <div class="bubble b-2">
                    <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt="" />
                </div>
                <div class="bubble b-3">
                    <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt="" />
                </div>
                <div class="bubble b-4">
                    <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt="" />
                </div>
                <div class="plus p-1">
                    <img class="w-100" src="@Url.Content("~/css/imgs/plus.png")" alt="" />
                </div>
                <div class="plus p-2">
                    <img class="w-100" src="@Url.Content("~/css/imgs/plus.png")" alt="" />
                </div>
                <div class="mx-auto w-32rem">
                    <a href="@Model.GhienDaLatActionUrl" target="_blank">
                    @if (Model.VietNamOiPicture != null)
                    {
                        <img class="w-100" src="@Model.GhienDaLatPicture.MediaItem.Url()" alt=""/>
                    }
                    else
                    {
                        <img class="w-100" src="@Url.Content("~/css/imgs/detail-img-2.png")" alt=""/>}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fade-in-anchor p-relative">
    <img class="p-absolute img-3" src="@Url.Content("~/css/imgs/3.png")" alt="">
    <div class="fade-in-content mx-layout">
        <div class="d-flex justify-content-between mt-6rem mb-2rem">
            <span class="f-pd fw-700 f-content-header">@Model.OtherCommunityTitle</span>
            @*<div class="my-auto">
                    <a class="f-ssp fw-400 f-1rem" href="#" id="view-all">
                        <span>Xem tất cả</span>
                        <img class="next-icon" src="./imgs/next.png" alt="">
                    </a>
                </div>*@
        </div>
        <div id="communities" class="d-flex communities">
            @if (Model.OtherCommunities != null)
            {
                foreach (var item in Model.OtherCommunities.ToList())
                {
                    <a href="@item.ActionRedirectUrl" target="_blank">
                        @if (item.FeaturePicture != null)
                        {
                            <img class="community-item h-13rem" src="@item.FeaturePicture.MediaItem.Url()" alt="@item.FeatureName">
                        }
                    </a>
                }
            }
        </div>
    </div>
</div>

<div class="fade-in-anchor services-page mt-6rem p-relative">
    <div class="bubble b-5">
        <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" alt="">
    </div>
    <div class="fade-in-content mx-layout">
        <div class="header">
            <p class="f-rbt fw-500 f-layout upper-case">@Model.ServiceHeader</p>
            <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" alt="">
        </div>
        <div class="services d-flex f-ssp justify-content-around">
            <div class="flex-layout my-auto">
                @foreach (var item in Model.FeatureServices)
                {
                    <div class="service-item text-center fade-in-content">
                        <div class="service-icon">
                            @if (item.FeatureCoverImage != null)
                            {
                                <img class="w-4rem" src="@item.FeatureCoverImage.MediaItem.Url()" alt="@item.FeatureName">
                            }
                        </div>
                        <div class="service-name fw-600 f-1-125rem">
                            @item.FeatureName
                        </div>
                        <div class="service-description f-1rem fw-400">
                            @item.FeatureDetails
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="fade-in-anchor partner-page p-relative">
    <div class="bubble b-6">
        <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" />
    </div>
    <div class="bubble b-7">
        <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")" />
    </div>
    <img class="p-absolute img-3" src="@Url.Content("~/css/imgs/3.png")" />
    <div class="fade-in-content mx-layout">
        <div class="header">
            <p class="f-rbt fw-500 f-layout upper-case">@Model.PartnerHeader</p>
            <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")" />
        </div>
        <div class="partner-container">
            <div class="d-flex mb-2rem">
                <div id="partners" class="partners d-flex mx-auto align-center">
                    @{
                        var partners = Model.FeaturePartners.ToArray();
                        for (int i = 0; i < partners.Length; i++)
                        {
                            if (partners[i].FeatureCoverImage != null)
                            {
                                <img class="partner-item mr-4rem partner-@(i + 1)" src="@partners[i].FeatureCoverImage.MediaItem.Url()" alt="@partners[i].FeatureName">
                            }
                        }
                    }
                </div>
            </div>
            <div class="text-center">
                @Model.PartnerExcerpt
            </div>
        </div>
    </div>
</div>

<!-- contact
================================================== -->
<section id="contact" class="s-contact">
    <div class="fade-in-anchor p-relative">
        <div class="bubble b-6">
            <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")"/>
        </div>
        <div class="bubble b-7">
            <img class="w-100" src="@Url.Content("~/css/imgs/bubble.png")"/>
        </div>
        <img class="p-absolute img-4" src="@Url.Content("~/css/imgs/4.png")"/>
        <div class="fade-in-content mx-layout">
            <div class="header">
                <p class="f-rbt fw-500 f-layout upper-case">@Model.ContactHeader</p>
                <img class="line-w mt-1rem mb-2rem" src="@Url.Content("~/css/imgs/line.png")"/>
            </div>
            <div class="partner-container">
                <div class="row contact-content">

                    <div class="contact-primary">

                        <h3 class="h6">@Model.ContactFormHeader</h3>

                        @* CONTACT FORM *@
                        @* CONTACT FORM *@
                        @* CONTACT FORM *@
                        
                        @{ Html.RenderAction("RenderForm", "ContactSurface");}

                        <!-- contact-warning -->
                        <div class="message-warning">
                            @Model.ContactFormWarningMessage
                        </div>

                        <!-- contact-success -->
                        <div class="message-success">
                            @Model.ContactFormSuccessMessage<br>
                        </div>

                    </div> <!-- end contact-primary -->

                    <div class="contact-secondary hide-on-fullwidth">
                        <div class="contact-info">
                            <h3>@Model.ContactSubHeader</h3>

                            <div class="cinfo">
                                <h5>@Model.ContactAddressTitle</h5>
                                <p>
                                    @Model.ContactAddressDetail
                                </p>
                            </div>

                            <div class="cinfo">
                                <h5>@Model.ContactEmailHeader</h5>
                                <p>
                                    @Model.ContactEmailDetail
                                </p>
                            </div>

                            <div class="cinfo">
                                <h5>@Model.ContactPhoneTitle</h5>
                                <p>
                                    @Model.ContactPhoneDetail
                                </p>
                            </div>
                        
                        </div> <!-- end contact-info -->
                    </div> <!-- end contact-secondary -->

                </div> <!-- end contact-content -->

            </div>
        </div>
    </div>
    
</section> <!-- end s-contact -->
