@using Umbraco.Core.PropertyEditors
@inherits UmbracoViewPage
@{ Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme; }

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Name - @home.Sitename</title>
    @RenderSection("HeaderMeta", false)

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap">
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    @RenderSection("Header", required: false)

</head>

<body id="top">
    <div class="nav mx-layout h-3rem mt-2rem">
        <img class="h-3rem" src="@home.SiteLogo.Url()" alt="@home.Name">
        <div class="top-right-header my-auto">
            @{
                if (home.Socials.Any())
                {
                    foreach (var item in home.Socials.ToList())
                    {
                        if (item.Caption.ToLower().Contains("twitter"))
                        {
                            <a target="_blank" href="@item.ActionUrl"><img class="h-1rem social-icon" src="@Url.Content("~/css/imgs/twitter.png")" title="twitter"></a>
                        }

                        if (item.Caption.ToLower().Contains("facebook"))
                        {
                            <a target="_blank" href="@item.ActionUrl"><img class="h-1rem social-icon" src="@Url.Content("~/css/imgs/facebook.png")" title="facebook"></a>
                        }

                        if (item.Caption.ToLower().Contains("instagram"))
                        {
                            <a target="_blank" href="@item.ActionUrl"><img class="h-1rem social-icon" src="@Url.Content("~/css/imgs/instagram.png")" title="instagram"></a>
                        }

                        if (item.Caption.ToLower().Contains("facebook"))
                        {
                            <a target="_blank" href="@item.ActionUrl"><img class="h-1rem social-icon" src="@Url.Content("~/css/imgs/youtube.png")" title="youtube"></a>
                        }
                    }
                }
            }
            <ul id="top-nav-language">
                @foreach (var (culture, infos) in Model.Cultures.Reverse())
                {
                    <li>
                        <a href="@Model.Url(culture)">
                            <img src="@Url.Content(culture.ToLowerInvariant().Contains("en") ? "~/css/flags/en.png" : "~/css/flags/vn.png")" alt="@culture.ToFriendlyName()" />
                        </a>
                    </li>
                }
            </ul>
        </div>

    </div>

    <div class="container">
        @RenderBody()
    </div>

    <!-- footer
    ================================================== -->
    <footer>
        <div class="container">
            <div class="footer f-ssp fw-400 f-1rem d-flex">
                <div class="flex-layout align-center mx-auto mt-2rem mb-auto">
                    <div class="f-item footer-m">
                        <div class="d-flex">
                            <div class="container">
                                @if (home.FooterLogo != null)
                                {
                                    <img src="@home.FooterLogo.MediaItem.Url()" alt="" style="height: 4.375rem"> }
                                else
                                {
                                    <img src="@Url.Content("~/css/imgs/footer-logo-1.png")" style="height: 4.375rem">
                                }
                                <div class="d-flex mt-1rem">
                                    @{ if (home.Socials.Any())
                                        {
                                            foreach (var item in home.Socials.ToList())
                                            {
                                                if (item.Caption.ToLower().Contains("twitter"))
                                                {
                                                    <a target="_blank" href="@item.ActionUrl"><img class="f-social-icon" src="@Url.Content("~/css/imgs/twitter-f.png")" title="twitter"></a>
                                                }

                                                if (item.Caption.ToLower().Contains("facebook"))
                                                {
                                                    <a target="_blank" href="@item.ActionUrl"><img class="f-social-icon" src="@Url.Content("~/css/imgs/facebook-f.png")" title="facebook"></a>
                                                }

                                                if (item.Caption.ToLower().Contains("instagram"))
                                                {
                                                    <a target="_blank" href="@item.ActionUrl"><img class="f-social-icon" src="@Url.Content("~/css/imgs/instagram-f.png")" title="instagram"></a>
                                                }

                                                if (item.Caption.ToLower().Contains("facebook"))
                                                {
                                                    <a target="_blank" href="@item.ActionUrl"><img class="f-social-icon" src="@Url.Content("~/css/imgs/youtube-f.png")" title="youtube"></a>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-layout">
                        <div class="f-item footer-m">
                            <p class="mb-1rem">@home.ContactAddressTitle</p>
                            <p>
                                @home.ContactAddressDetail
                            </p>
                        </div>
                        <div class="f-item footer-m">
                            <p class="mb-1rem">@home.ContactEmailHeader</p>
                            <p>@home.ContactAddressDetail</p>
                            <p>www.gld.vn</p>
                        </div>
                        <div class="f-item footer-m">
                            <p class="mb-1rem">@home.ContactPhoneTitle</p>
                            <p>@home.ContactPhoneDetail</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-1rem mt-1rem">© Copyright gdl.vn  @DateTime.Now.Year</div>
                <div class="text-center mb-1rem mt-1rem">Site Development by <a class="link" href="https://vindustry.co/">Vindustry.co</a></div>
            </div>
        </div>

    </footer> <!-- end footer -->
    <!-- Java Script
    ================================================== -->
    <script src="@Url.Content("~/scripts/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/scripts/index.js")"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5316d83452998f7e"></script>

    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@
</body>

</html>