@using Umbraco.Core.PropertyEditors
@inherits UmbracoViewPage
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home) Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Name - @home.Sitename</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="@Url.Content("~/css/base.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/vendor.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/main.css")">

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    @RenderSection("Header", required: false)


    <!-- script
    ================================================== -->
    <script src="@Url.Content("~/scripts/modernizr.js")"></script>
    <script src="@Url.Content("~/scripts/pace.min.js")"></script>
</head>

<body id="top">

<main>
    @RenderBody()
</main>

<!-- footer
================================================== -->
<footer>

    <div class="row footer-main">

        <div class="col-six tab-full left footer-desc">

            <div class="footer-logo">
                @if (home.FooterLogo != null)
                {
                    <img src="@home.FooterLogo.MediaItem.Url()" alt="">
                }
                else
                {
                    <img src="../css/images/footer-logo.png" alt="">
                }
            </div>
            <h4>@home.FooterHeader</h4>
            <div>@home.FooterDescription</div>
        </div>

        <div class="col-six tab-full right footer-subscribe">

            <h4>@home.FooterCtacaption</h4>
            <p>
               @home.FooterAddress
            </p>
            <div class="subscribe-form">
                <form id="mc-form" class="group" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                    <input type="submit" name="subscribe" value="Subscribe">
                    <label for="mc-email" class="subscribe-message"></label>
                </form>
            </div>

        </div>

    </div> <!-- end footer-main -->

    <div class="row footer-bottom">

        <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright @home.Sitename @DateTime.Now.Year</span>
                <span>Site Template by <a href="https://vindustry.co/">Vindustry.co</a></span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <i class="icon-arrow-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>

    </div> <!-- end footer-bottom -->

</footer> <!-- end footer -->


<!-- photoswipe background
================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title=
                        "Share">
                </button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title=
                        "Zoom in/out">
                </button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title=
                    "Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>

    </div>

</div> <!-- end photoSwipe background -->


<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale-pulse-out">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<!-- Java Script
================================================== -->
<script src="@Url.Content("~/scripts/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/scripts/plugins.js")"></script>
<script src="@Url.Content("~/scripts/main.js")"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>