@inherits UmbracoViewPage<ContactViewModel>

@using GdlCms.Web.ViewModels;
@using GdlCms.Web.Controllers;
@{
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<div id="contact">

    @using (Ajax.BeginForm("SubmitForm", "ContactSurface", new AjaxOptions()
    {
        UpdateTargetId = "form-result",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "contactForm.showResult",
        OnFailure = "contactForm.showResult"
    }, new { id = "contact-form" }))
    {
        @Html.HiddenFor(m => m.ContactFormId)

        <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
            <div class="row mt-30">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-single-02"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", name = "contactName", type = "text", id = "contactName", placeholder = "Họ và tên", value = "", minlength = "2" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "contactEmail", type = "email", id = "contactEmail", placeholder = "Email", value = "" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-mobile"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", name = "contactPhone", type = "text", id = "contactPhone", placeholder = "Phone number", value = "" })
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", name = "contactMessage", id = "contactMessage", placeholder = "Nội dung", rows = "4" })
                    
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-4 ml-auto mr-auto text-center">
                    <button type="submit" class="btn btn-danger btn-lg btn-fill">Gửi liên hệ</button>
                </div>
            </div>

        </form>
    }
</div>